* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
button,
textarea {
  border: 0;
  background: none;
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Poppins", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  color: rgb(22, 23, 29);
  background: rgb(238, 243, 254);
}
body.hidden {
  overflow: hidden;
}

svg-icon-sprite svg {
  display: block;
  width: 100%;
  height: 100%;
}

.container {
  width: calc(100% - 40px);
  margin: 0 auto;
  max-width: 1920px;
}

header {
  background-color: rgba(238, 243, 254, 0.9);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  box-shadow: inset 0 -2px rgba(255, 255, 255, 0.7);
  height: 64px;
  position: sticky;
  top: 0;
  z-index: 9;
}
header .container {
  height: 100%;
  max-width: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.header__left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.burger {
  display: none;
}

.header__logo {
  width: 160px;
  aspect-ratio: 160/36;
}
.header__logo img {
  width: 100%;
  height: 100%;
  display: block;
}

.header__icon {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 2px 4px 10px 0 rgba(155, 186, 248, 0.2);
  border-width: 1px 1px 2px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.9);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__icon svg-icon-sprite {
  width: 28px;
  aspect-ratio: 1/1;
}
.header__icon svg-icon-sprite svg {
  fill: rgb(140, 145, 165);
}

.header__right {
  display: flex;
  gap: 8px;
}

.header__search {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 52px;
  width: 300px;
  padding: 0 12px;
  border: 1px solid rgb(222, 232, 253);
  border-radius: 120px;
  color: rgb(111, 117, 143);
  background-color: rgba(255, 255, 255, 0.6);
  line-height: 1.4;
}
.header__search svg-icon-sprite {
  width: 16px;
  height: 16px;
}
.header__search svg-icon-sprite .icon {
  fill: rgb(111, 117, 143);
}

.header__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  text-align: center;
  line-height: 1;
  text-shadow: 0 1.5px 0 rgba(222, 232, 253, 0.6);
  padding: 0 24px;
  background: linear-gradient(180deg, rgb(205, 220, 251) 0%, rgb(155, 186, 248) 100%);
  box-shadow: 0 3px 0 0 rgb(88, 140, 243), 0 5px 15px rgba(197, 200, 210, 0.4);
  font-size: 16px;
  font-weight: 700;
  color: rgb(22, 23, 29);
  border-radius: 80px;
  text-transform: uppercase;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 64px;
  height: calc(100vh - 64px);
  width: 232px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  z-index: 9;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  border-right: 1px solid rgba(255, 255, 255, 0.9);
  color: rgb(111, 117, 143);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.4;
  text-transform: uppercase;
}
.sidebar .header__search {
  display: none;
}

.sidebar__menu {
  display: flex;
  flex-direction: column;
  padding: 12px 12px 0;
}

.sidebar__list {
  display: flex;
  flex-direction: column;
  padding: 8px 0;
  gap: 4px;
  position: relative;
  align-items: center;
  background-image: linear-gradient(90deg, rgba(88, 140, 243, 0) 2%, rgba(88, 140, 243, 0.2) 50%, rgba(88, 140, 243, 0));
  background-position: top;
  background-size: var(--stb-nav-list-divider, 128px 1px);
  background-repeat: no-repeat;
}
.sidebar__list:first-child {
  padding-top: 0;
  background: none;
}
.sidebar__list:last-child {
  padding-bottom: 0;
}
.sidebar__list li {
  width: 100%;
}
.sidebar__list a {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 2px 10px;
  height: 44px;
  border: 1px solid transparent;
  border-radius: 16px;
}
.sidebar__list a img {
  height: 24px;
  width: 24px;
}
.sidebar__list a:hover, .sidebar__list a.active {
  background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(238, 243, 254) 100%) padding-box, linear-gradient(98.84deg, rgba(205, 220, 251, 0) -4.85%, rgb(255, 255, 255) 24.2%, rgba(205, 220, 251, 0) 50.84%, rgba(155, 186, 248, 0) 78.49%) border-box;
  background-repeat: no-repeat;
  border: 1px solid rgb(155, 186, 248);
}

.sidebar__footer {
  background-color: rgb(255, 255, 255);
  margin-top: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2px;
  position: sticky;
  bottom: 0;
}
.sidebar__footer a {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 4px;
  height: 60px;
  background-color: rgb(222, 232, 253);
  color: rgb(111, 117, 143);
  font-weight: 600;
  font-size: 12px;
  line-height: 1.2;
}
.sidebar__footer a svg-icon-sprite,
.sidebar__footer a img {
  width: 16px;
  height: 16px;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.2s;
}
.sidebar__footer a svg-icon-sprite svg,
.sidebar__footer a img svg {
  fill: rgb(111, 117, 143);
}

.wrap {
  padding-left: 232px;
}

.banner--wrap .container {
  width: 100%;
}

.banner {
  aspect-ratio: 1920/500;
  position: relative;
  display: flex;
  align-items: center;
}
.banner::after {
  content: "";
  position: absolute;
  width: 100%;
  z-index: 1;
  pointer-events: none;
  content: "";
  position: absolute;
  width: 100%;
  bottom: -100px;
  left: 0;
  height: 100px;
  box-shadow: 0px 0px 50px 50px rgb(238, 243, 254);
}

.banner__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.banner__video video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.banner__content {
  background: linear-gradient(90deg, rgb(225, 232, 255) 0%, rgba(225, 232, 255, 0.95) 28%, rgba(255, 234, 226, 0.7) 90%, rgba(255, 238, 233, 0) 100%);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 660px;
  z-index: 1;
  text-align: center;
}
.banner__content p {
  font-size: 56px;
  font-weight: 700;
}
.banner__content p:nth-child(1) {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  padding: 2px 12px;
  line-height: 1.5;
  color: rgb(67, 81, 144);
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.9);
  border-bottom-width: 2px;
  border-radius: 100vmax;
  box-shadow: 2px 4px 20px rgba(155, 186, 248, 0.3);
}
.banner__content p:nth-child(2) {
  margin-top: 8px;
}
.banner__content a {
  margin-top: 16px;
  width: 320px;
  height: 100px;
  border: 1px solid rgb(255, 255, 255);
  background: rgba(210, 225, 237, 0.5019607843);
  box-shadow: 0 4px 20px rgba(173, 182, 202, 0.3019607843);
  -webkit-backdrop-filter: blur(1.5px);
          backdrop-filter: blur(1.5px);
  padding: 10px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: rgb(22, 23, 29);
  border-radius: 80px;
  text-transform: uppercase;
}
.banner__content a span {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 24px;
  text-align: center;
  border: 2px solid transparent;
  border-radius: 120px;
  background: url("../images/center-bg.png"), linear-gradient(272.65deg, #ff990a -10%, #ffc23e 16%, #ffe45e 34%, #fff9be 49%, #ffc23e 76%, #ff990a 111%), linear-gradient(228.48deg, #e5f4ff -3%, #fff 27%, #e5f4ff 93%);
  background-origin: padding-box, padding-box, border-box;
  background-clip: padding-box, padding-box, border-box;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 69px 69px, auto, auto;
  box-shadow: inset 0 -4px 8px 4px rgba(255, 231, 135, 0.4), inset 0 4px 8px 4px rgba(255, 255, 236, 0.55), inset 0 -5px 0 rgba(255, 234, 100, 0.7);
}
.banner__content a span::after {
  border-radius: 120px;
  content: "";
  background: linear-gradient(272deg, #ff990a 5%, #ffc23e 24%, #ffe45e 37%, #fff9be 48%, #ffc23e 68%, #ff990a 94%), url(".../images/primary-main-bg-animation.webp");
  background-size: 69px 69px, auto, cover;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: inset 0 -4px 8px 4px rgba(255, 231, 135, 0.4), inset 0 4px 8px 4px rgba(255, 255, 236, 0.55), inset 0 -5px 0 rgba(255, 234, 100, 0.7);
}

.top--menu {
  background: rgb(238, 243, 254);
  top: 62px;
  z-index: 9;
  position: sticky;
}

.top__menu {
  position: relative;
}
.top__menu::after {
  content: "";
  position: absolute;
  height: 80%;
  width: 60px;
  right: -2px;
  top: 8%;
  background-image: linear-gradient(270deg, rgb(238, 243, 254) 50%, rgba(255, 255, 255, 0) 100%);
}

.top__menu__row {
  overflow-x: auto;
  padding: 16px 0;
}
.top__menu__row::-webkit-scrollbar {
  display: block;
  height: 11px;
}
.top__menu__row::-webkit-scrollbar-thumb {
  background: rgb(188, 209, 250);
}
.top__menu__row::-webkit-scrollbar-track {
  background: transparent;
}
.top__menu__row ul {
  display: flex;
  gap: 10px;
  min-width: -moz-max-content;
  min-width: max-content;
  justify-content: center;
  list-style: none;
}
.top__menu__row ul li:last-child {
  position: relative;
  z-index: 2;
}
.top__menu__row ul a {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 6px;
  font-weight: 700;
  line-height: 1.4;
  font-size: 14px;
  text-transform: uppercase;
  border: 2px solid rgba(255, 255, 255, 0.5);
  color: rgb(111, 117, 143);
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 4px 20px 0 rgba(155, 186, 248, 0.25), 0 3px 0 0 rgb(255, 255, 255);
  position: relative;
  min-width: 90px;
  height: 90px;
  padding: 0 9px;
  border-radius: 16px;
}
.top__menu__row ul a img {
  width: 40px;
  height: 40px;
}

.cards--wrap {
  margin-top: 28px;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.cards__row {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.cards__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cards__title {
  display: flex;
  align-items: center;
  gap: 12px;
  font-weight: 700;
  line-height: 1.2;
  font-size: 24px;
  color: rgb(22, 23, 29);
}
.cards__title img {
  width: 28px;
  aspect-ratio: 1/1;
}

.cards__nav {
  display: flex;
  align-items: center;
  gap: 16px;
}
.cards__nav p {
  font-size: 14px;
  font-weight: 600;
  color: rgb(89, 94, 114);
  padding: 2px 12px;
  border: 1px solid rgba(255, 255, 255, 0.9);
  border-bottom-width: 2px;
  line-height: 1.4;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 100vmax;
  box-shadow: 2px 4px 20px rgba(155, 186, 248, 0.3);
}

.cards__arrows {
  display: flex;
  gap: 4px;
}
.cards__arrows span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  box-shadow: 2px 4px 20px rgba(155, 186, 248, 0.3);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  background-color: rgba(255, 255, 255, 0.9);
}
.cards__arrows span:hover, .cards__arrows span:first-child {
  opacity: 0.5;
}
.cards__arrows svg-icon-sprite {
  width: 16px;
  height: 16px;
}

.cards__list {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 16px;
}

.cards__item {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 16px;
  box-shadow: 0 4px 10px 0 rgba(155, 186, 248, 0.2);
  padding: 8px;
}

.cards__item__body {
  aspect-ratio: 201/303;
  position: relative;
  overflow: hidden;
  border-radius: 12px;
}
.cards__item__body img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.cards__item__body span {
  position: absolute;
  line-height: 1;
  left: 7px;
  bottom: 0;
  font-size: 80px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.7);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
}

.cards__item__title {
  margin-top: 8px;
  font-size: 14px;
  line-height: 1.4;
  text-align: center;
  color: rgb(22, 23, 29);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
}

.block--wrap {
  margin-top: 36px;
}

.block {
  aspect-ratio: 1880/280;
  position: relative;
  padding: 8px;
  background-color: rgb(255, 255, 255);
  border-radius: 16px;
  color: rgb(22, 23, 29);
  background: linear-gradient(204.53deg, #d5edff 23.9%, #eeecff 40.11%, #f9f3ff 55.27%, #f5fcff 75.24%, #e9f5ff 95.04%), url("../images/special-banner-bg.webp") 690px top/490px 275px no-repeat;
  background-blend-mode: screen;
}

.block__container {
  height: 100%;
  border: 2px solid rgb(180, 123, 37);
  border-radius: 12px;
  display: flex;
  align-items: center;
  padding: 0 53px;
}

.block__img {
  height: 130%;
  width: auto;
  position: absolute;
  top: -50px;
  left: 700px;
}

.block__content {
  position: relative;
  z-index: 1;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.block__content p {
  font-size: 34px;
  font-weight: 700;
}
.block__content a {
  background: linear-gradient(180deg, rgb(255, 225, 31) 0.22%, rgb(255, 133, 51) 100.84%);
  margin-top: 16px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 24px;
  line-height: 1;
  color: rgb(22, 23, 29);
  border-radius: 80px;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.content {
  padding: 40px 80px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__item {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
}
.content__item h1,
.content__item h2,
.content__item h3 {
  font-weight: 600;
}
.content__item h1 {
  font-size: 40px;
  margin-bottom: 10px;
}
.content__item h2 {
  font-size: 35px;
  margin-bottom: 10px;
}
.content__item h3 {
  font-size: 27px;
  margin-bottom: 10px;
}
.content__item p,
.content__item .content__table {
  margin-bottom: 20px;
}
.content__item ol,
.content__item ul {
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.content__item ul {
  margin-top: 15px;
}
.content__item h3:last-child,
.content__item ol:last-child,
.content__item p:last-child,
.content__item .content__table:last-child {
  margin-bottom: 0;
}

.content__table table {
  border-collapse: collapse;
}
.content__table th,
.content__table td {
  padding: 12px;
  border: 1px solid rgb(22, 23, 29);
}

footer {
  background: rgb(238, 243, 254);
  padding: 48px 0 32px;
  position: relative;
  border-top: 1px solid rgb(198, 215, 250);
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 0 20px;
}

.footer__top {
  display: flex;
  justify-content: center;
  gap: 12px;
}
.footer__top a {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(255, 255, 255, 0.2);
  gap: 8px;
  width: 160px;
  height: 48px;
  line-height: 1;
  text-shadow: 0 1.5px 0 rgba(255, 255, 255, 0.6);
  font-weight: 700;
  font-size: 14px;
  color: rgb(22, 23, 29);
  background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(222, 232, 253) 100%);
  border-radius: 100px;
}
.footer__top a svg-icon-sprite {
  width: 24px;
  height: 24px;
}
.footer__top a svg-icon-sprite .icon {
  fill: rgb(22, 23, 29);
}
.footer__top a img {
  width: 24px;
  height: 24px;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer__menu {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 40px;
  font-size: 12px;
  line-height: 1.4;
  font-weight: 500;
  color: rgb(44, 47, 57);
}
.footer__menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 16px;
  display: flex;
  flex-direction: column;
}

.footer__menu__title {
  font-weight: 700;
  font-size: 14px;
}

.footer__menu__item {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer__menu__item:nth-child(2) {
  margin-top: 60px;
}

.footer__pay {
  display: flex;
  justify-content: center;
  gap: 12px;
}
.footer__pay a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 73px;
  height: 39px;
  gap: 6px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
}
.footer__pay a:last-child {
  background: none;
  box-shadow: none;
}
.footer__pay a svg-icon-sprite {
  width: 12px;
  height: 12px;
}
.footer__pay a svg-icon-sprite svg {
  fill: rgb(88, 140, 243);
}
.footer__pay a img {
  width: 66px;
}
.footer__pay a span {
  font-size: 12px;
  color: rgb(88, 140, 243);
  font-weight: 700;
  line-height: 1.4;
}

.footer__media {
  display: flex;
  justify-content: center;
}
.footer__media img {
  width: 40px;
  aspect-ratio: 1/1;
}

.footer__copyright {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: rgb(111, 117, 143);
  line-height: 1.4;
  font-size: 12px;
}

@media (max-width: 1919px) {
  .cards__list {
    grid-template-columns: repeat(7, 1fr);
  }
  .cards__item:nth-child(n+8) {
    display: none;
  }
  .footer__menu {
    gap: 20px;
  }
  .banner__content p {
    font-size: 40px;
  }
  .banner__content {
    width: 500px;
  }
  .block {
    aspect-ratio: 1228/220;
  }
  .block__content p {
    font-size: 24px;
  }
  .banner {
    aspect-ratio: 1304/420;
  }
}
@media (max-width: 1400px) {
  header {
    z-index: 999;
  }
  .header__logo {
    width: 92px;
    aspect-ratio: 92/36;
  }
  .header__left {
    gap: 5px;
  }
  .header__icon {
    display: none;
  }
  .burger {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 2px 4px 10px 0 rgba(155, 186, 248, 0.2);
    border-width: 1px 1px 2px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.9);
    border-radius: 50%;
  }
  .burger svg-icon-sprite svg {
    fill: rgb(140, 145, 165);
  }
  .burger svg-icon-sprite:nth-child(2) {
    display: none;
  }
  .burger.active svg-icon-sprite:nth-child(1) {
    display: none;
  }
  .burger.active svg-icon-sprite:nth-child(2) {
    display: block;
  }
  .sidebar {
    width: 420px;
    left: -420px;
    transition-duration: 0.3s;
    background-color: rgb(238, 243, 254);
    z-index: 999;
  }
  .sidebar.active {
    left: 0;
  }
  .sidebar .header__search {
    display: flex;
    min-height: 52px;
    width: calc(100% - 24px);
    margin: 12px auto 0;
  }
  .header__search {
    display: none;
  }
  .wrap {
    padding-left: 0;
    position: relative;
  }
  .wrap::after {
    z-index: 9;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: rgba(53, 84, 146, 0.5);
    transition-duration: 0.3s;
    opacity: 0;
  }
  .wrap.active::after {
    opacity: 1;
  }
  .banner {
    aspect-ratio: 768/300;
  }
  .block {
    aspect-ratio: 728/404;
  }
  .block__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .block__container picture {
    order: 0;
  }
  .block__img {
    position: static;
    width: 90%;
    height: auto;
    transform: translateY(-50px);
    margin: 0 auto;
  }
  .block__content {
    order: 1;
    transform: translateY(-60px);
  }
  .content {
    padding: 40px 0;
  }
  .footer__menu {
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 20px;
  }
  .footer__column:nth-child(n+7) {
    display: none;
  }
  .cards__list {
    grid-template-columns: repeat(6, 1fr);
  }
  .cards__item:nth-child(n+7) {
    display: none;
  }
  .cards__item {
    border-radius: 8px;
    padding: 4px;
  }
  .cards__item__body {
    border-radius: 6px;
  }
  .top__menu__row ul a {
    height: 54px;
    flex-direction: row;
  }
  .top__menu__row ul a img {
    width: 32px;
    height: 32px;
  }
}
@media (max-width: 767px) {
  header {
    height: 108px;
    padding: 12px;
  }
  .header {
    flex-direction: column;
    position: relative;
    gap: 12px;
  }
  .header__btn {
    width: 50%;
    height: 36px;
    font-size: 12px;
  }
  header .container {
    width: 100%;
  }
  .header__right {
    width: 100%;
  }
  .burger {
    position: absolute;
    top: 0;
    left: 0;
  }
  .sidebar {
    left: -100%;
    width: 100%;
    top: 108px;
    height: calc(100vh - 108px);
  }
  .banner__content {
    width: 100%;
  }
  .cards__list {
    grid-template-columns: repeat(3, 1fr);
  }
  .cards__item:nth-child(n+4) {
    display: none;
  }
  .banner {
    aspect-ratio: 375/380;
    align-items: flex-end;
  }
  .banner::after {
    display: none;
  }
  .banner__content {
    height: 100%;
    justify-content: flex-end;
    background: linear-gradient(180deg, rgba(255, 238, 233, 0) 30%, rgba(255, 234, 226, 0.7) 55%, rgba(225, 232, 255, 0.95) 70%, rgb(225, 232, 255) 100%);
  }
  .banner__video {
    height: 70%;
  }
  .banner__content p {
    font-size: 30px;
  }
  .cards__arrows {
    display: none;
  }
  .block {
    aspect-ratio: 335/340;
  }
  .block__img {
    width: 140%;
    margin: 0 auto;
    transform: translate(-14%, -50px);
  }
  .block__content p {
    font-size: 18px;
  }
  .block__content a {
    height: 46px;
    font-size: 15px;
  }
  .block__container {
    align-items: flex-end;
  }
  .block__content {
    transform: translateY(-23px);
  }
  .footer__menu {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 20px;
  }
  .footer {
    padding: 0;
  }
  .footer__column:nth-child(n+5) {
    display: none;
  }
  .block--wrap {
    margin-top: 0;
    padding-top: 36px;
    overflow: hidden;
  }
  .content__item ol,
  .content__item ul {
    padding-left: 30px;
  }
}
@media (max-width: 360px) {
  .block__content p {
    font-size: 14px;
  }
  .content__item {
    font-size: 14px;
  }
}/*# sourceMappingURL=styles.css.map */